<div class="container">
  <h1>Edit Profile</h1>

  <form action="/users/<%= @user.id %>/update">
    <div>
      <label for="name">Full Name</label><br />
      <input id="name" name="name" value="<%= @user.name  %>" type="text" />
    </div>
    <div>
      <label for="email">Email Address</label><br />
      <input id="email" name="email" value="<%= @user.email  %>" type="text" />
    </div>
    <div>
      <label for="grade">Grade Level</label><br />
      <input id="grade" name="grade" value="<%= @user.grade  %>" type="text" />
    </div>
    
    <% if session['uid'] == 1 %>
    <div>
      <label for="student_id">Student I.D.</label><br />
      <input id="student_id" name="student_id" value="<%= @user.student_id  %>" type="text" />
    </div>
    <div>
      <label for="hours">Hours</label><br />
      <input id="hours" name="hours" value="<%= @user.hours  %>" type="number" step="0.1" />
    </div>
    <% end %>
    <br>
    <div>
      <input type="submit">
    </div>
  </form>
</div>


