<div class="container">
  <h1>Edit Profile</h1>

  <form action="/users/<%= @user.id %>/update">
    <div>
      <label for="name">Full Name</label><br />
      <input id="name" name="name" value="<%= @user.name  %>" type="text" />
    </div>
    <div>
      <label for="email">Email Address</label><br />
      <input id="email" name="email" value="<%= @user.email  %>" type="text" />
    </div>
    <div>
      <label for="grade">Grade Level</label><br />
      <div class="input-group">
        <input type="radio" name="grade" value="9" <% if @user.grade == 9 %> checked="checked" <% end %>>&nbsp;<span id="hide">0</span>9
        <br>
        <input type="radio" name="grade" value="10" <% if @user.grade == 10 %> checked="checked" <% end %> >&nbsp;10
        <br>
        <input type="radio" name="grade" value="11" <% if @user.grade == 11 %> checked="checked" <% end %> >&nbsp;11
        <br>
        <input type="radio" name="grade" value="12" <% if @user.grade == 12 %> checked="checked" <% end %> >&nbsp;12
        <br>
      </div>
    </div>

    <% if User.find_by(id: session['uid'].isAdmin == true) %>
    <div>
      <label for="hours">Hours</label><br />
      <input id="hours" name="hours" value="<%= @user.hours  %>" type="number" step="0.1" />
    </div>
    <div>
      <label for="isAdmin">Admin?</label><br />
      <input id="isAdmin" name="isAdmin" value="<%= @user.isAdmin  %>" type="string"/>
    </div>
    <% end %>
    <br>
    <div>
      <input type="submit">
    </div>
  </form>
</div>


