<div class="container">
  <h1>Events</h1>
  <% @events.order("date").each do |event| %>
 
  <% if event.id == 240 %>
      event.completed = true
  <% end %>
  
  <% if event.completed == false %>
  <hr>
  <h2><%=event.name%></h2>
  <% d = event.description %>
  <% if d.blank? == false %>
  <p><%=d%></p>
  <% end %>
  <p>Location: <%=event.location%></p>
  <p>Date: <%date = event.date%><%=date.to_formatted_s(:long)%></p>
  
  <p>Time: <%=event.time%></p>
  
  <p>Hours: <%=event.hours%></p>
 
    <p>Total Number of Volunteers Needed: <%=event.maximum%></p>
  
   <p>Number of Sign-ups: <%=event.sign_ups%></p>
  <p>Volunteers:</p>
  <% @signups.each do |signup| %>
    <% if signup.event_id == event.id %>
    <% @id = signup.user_id %>
    <% @u = @users.find_by_id(@id) %>
    
    <% if @u.nil? == false %>
    <p> &nbsp &nbsp <%= @u.name %> &nbsp &nbsp  <%= @u.email %> </p>
    <% end %>
  <% end %>
  <% end %>

  <% s= Signup.where(user_id:session['uid']) %>
  <% b= s.find_by(event_id: event.id) %>
  <% if session['uid'].blank? %>
  <form action="/sessions/new">
    <input class="submit" type="submit" value="Sign Up">
  </form>
  <% elsif (event.sign_ups >= event.maximum) && (b.blank?) %>
  <p>This event is full. Better luck next time.</p>
  <% elsif b.blank? %>
  <form action="/events/<%=event.id%>/create_signup">
    <input class="submit" type="submit" value="Sign Up">
  </form>
  <% elsif b.is_complete%>
  <p>Good job! You've already completed this event!</p>
  <% else %>
  <p>You're signed up.</p>
  <form action="/events/<%=event.id%>/cancel_signup">
    <input class="submit" type="submit" value="Cancel">
  </form>
  <% end %>
  <% if session['uid'].blank? == false %>
  <% @user = User.find_by(id:session['uid']) %>
  <% if @user.isAdmin == true%>
  <br>
      <a href="/events/<%=event.id%>/edit">Edit Event</a>
      <form action="/events/<%=event.id%>/complete_event">
        <input type="submit" value="Event Complete">
      </form>
    <% end %>
  <% end %>
  <% end %>
  <% end %>
</div>
